CONFIG_C5VRX2_MODE_LIVE=y
CONFIG_C5VRX2_WBFM_PHASE5_QUALITY=y
# CONFIG_C5VRX2_WBFM_PHASE5_SYNCLOCK is not set
# CONFIG_C5VRX2_WBFM_PHASE5_100NS is not set
# CONFIG_C5VRX2_WBFM_PHASE5_150NS is not set
# CONFIG_C5VRX2_WBFM_INTERLEAVED_40M is not set
# CONFIG_C5VRX2_RING_8K is not set
# CONFIG_C5VRX2_RING_16K is not set
# CONFIG_C5VRX2_RING_32K is not set
# CONFIG_C5VRX2_RING_64K is not set
CONFIG_C5VRX2_RING_128K=y
# CONFIG_C5VRX2_PARLIO_RX_NEG_EDGE is not set
CONFIG_C5VRX2_DISABLE_TELEMETRY=y
